<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopster</title>
</head>

<body>
  <h1>Shopster app</h1>
  <form method="post" action="http://api.localhost:5000/page">
    <div>
      <label for="page">Page name</label>
      <input type="text" name="page" id="page">
    </div>
    <div>
      <label for="desc">Page url</label>
      <input type="text" name="desc" id="desc">
    </div>
    <button type="submit">Create new page</button>
  </form>
</body>

</html>