<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopster</title>
</head>

<body>
  <h1>Shopster app</h1>
  <form method="POST" action="http://api.localhost:5000/page">
    <div>
      <label for="domain">Domain name</label>
      <input type="text" name="domain" id="domain" readonly tabindex="-1">
      <span id="domainError" style="display: none;">Sorry this domain is already taken</span>
    </div>
    <div>
      <label for="page">Page name</label>
      <input type="text" name="page" id="page">
    </div>
    <div>
      <label for="desc">Page url</label>
      <input type="text" name="desc" id="desc">
    </div>
    <button type="submit" id="submitBtn" disabled>Create new page</button>
  </form>
  <div>
    <div x-data="{open: false}">
      <button @click="open = !open">Expand</button>
      <p x-show="open">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, possimus. Doloremque assumenda laboriosam, eius minus explicabo ipsa laudantium, tempore, libero delectus excepturi rem ratione nemo praesentium debitis maiores vero totam?</p>
    </div>
  </div>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

</body>

<script>
  const data = {
    domain: '',
    page: '',
    desc: ''
  }

  const domainName = document.getElementById('domain');
  const pageName = document.getElementById('page');
  const submitBtn = document.getElementById('submitBtn');
  const domainError = document.getElementById('domainError');
  pageName.addEventListener('change', async function() {
    let val = pageName.value.toLowerCase().replace(/[^a-zA-Z0-9]+/g, "-");
    domainName.value = val + '.localhost:5000';
    if (val) {
      const check = await fetch('http://api.localhost:5000/page-check', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          page: val
        })
      });
      const res = await check.json();
      if (res.check) {
        domainError.style.display = 'block';
        submitBtn.disabled = true;
      } else {
        domainError.style.display = 'none';
        submitBtn.disabled = false;
      }
    } else {
      domainError.style.display = 'none';
      submitBtn.disabled = true;
    }
  })
</script>

</html>